<h1>{{ title }}</h1>

<div>
  <h1>Poor Performance</h1>
  <a href="#" (click)="findPrimeNumber(10)">Click here</a> to find 10th prime number
  <div>The 10<sup>th</sup> prime number is {{ prime10 }}</div> <br/>
  <a href="#" (click)="find10000thPrimeNumberPoorly(20000)">Click here</a> to find 10000th prime number
  <div>The 10000<sup>th</sup> prime number is {{ prime10000 }}</div>
  <p>{{poorCounter}}</p>
  <button (click)="incrementPoorCounter()">COUNT</button>
</div>
<br><br>
<hr>
<br><br>
<div>
  <h1>High Performance</h1>
  <a href="#" (click)="findPrimeNumber(10)">Click here</a> to find 10th prime number
  <div>The 10<sup>th</sup> prime number is {{ prime10 }}</div> <br/>
  <a href="#" (click)="find10000thPrimeNumber(20000)">Click here</a> to find 10000th prime number
  <div>The 10000<sup>th</sup> prime number is {{ prime10000 }}</div>
  <p>{{optimizedCounter}}</p>
  <button (click)="incrementOptimizedCounter()">COUNT</button>
</div>
